{
  "jwtPrivateKeys": [
    [
      "-----BEGIN PRIVATE KEY-----",
      "...",
      "...",
      "...",
      "...",
      "...",
      "...",
      "...",
      "...",
      "...",
      "...",
      "...",
      "...",
      "-----END PRIVATE KEY-----"
    ],

    [
      "-----BEGIN PRIVATE KEY-----",
      "...",
      "...",
      "...",
      "...",
      "...",
      "...",
      "...",
      "...",
      "...",
      "...",
      "...",
      "...",
      "-----END PRIVATE KEY-----"
    ],

    [
      "-----BEGIN PRIVATE KEY-----",
      "...",
      "...",
      "...",
      "...",
      "...",
      "...",
      "...",
      "...",
      "...",
      "...",
      "...",
      "...",
      "-----END PRIVATE KEY-----"
    ]
  ]
}
