body {
    background: #789EA5;
    color: rgba(0, 0, 0, 0.87);
    font-family: Roboto, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#top {
    height: 50px;
    background: #B6CACE;
    margin: 10px 10px;
    border-radius: 3px;
}

#top h1 {
    display: inline-block;
    margin: 7px 10px;
}

/*
#main { 
    background: #B6CACE;
    margin: 10px 10px 16px;
    border-radius: 3px;
    height: 85vh;
    display:flex;
}
    */

div.bottom {
    position: absolute;
    bottom: 15px;
}

#left {
    flex: 2;
    min-height: 100px;
    height: 100%;
}

#right {
    flex: 1;
    min-height: 100px;
    height: 100%;
}

#chat {
    margin: 10px;
    border-radius: 3px;
    padding: 3px;
}

#chat_messages {
    height: 275px;
}

#chat_input {
    display: inline-block;
    position: absolute;
    bottom: 15px;
    left: 10px;

}

#peers {
    border-radius: 3px;
    margin: 10px;
    padding: 3px;
}

#peers h3 {
    margin-block-start: 0.25em;
    margin-block-end: 0.25em;
    font-size: 1em;
    color: dodgerblue;
}

#peers div {
    font-size: 0.75em;
}

video {
    width: 100%;
    aspect-ratio: 1.77778;
    display: block;
}

button.app {
    display: inline-block;
    text-align: center;
    background: dodgerblue;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    padding: 8px;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

#load {
    color: rgba(0, 0, 0, 0.4);
    text-align: center;
    font-size: 13px;
}


@media (max-width: 600px) {

    body,
    #message {
        margin-top: 0;
        background: white;
        box-shadow: none;
    }

    body {
        border-top: 16px solid #ffa100;
    }
}

#profile {
    padding: 5px;
}

#profile input {
    display: block;
    width: 50%;
    height: 2em;
    margin: 0 0 5px;
}

#profile h3 {
    color: dodgerblue;
    margin-top: 25px;
}

p.error {
    color: red;
    display: none;
}